<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form action="/warmup-2/font-times/">
      <label>Front Times:</label>
      <input type="text" name="word" placeholder="String" />
      <input type="number" name="n" placeholder="Number" />
      {% if result is not None %}
      <p>{{ result }}</p>
      {% endif %}
      <br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
